/* =Login Custom
-----------------------------------------------------------------------------*/

main > .container {
	min-height: 740px;
}

.disabled {
	opacity: 0.3;
}
.disabled:hover {
	opacity: 1.0;
}