html, body {
    height: auto !important;
}

main#login {
    max-width: 300px;
    background: #fff;
    padding: 30px;
    margin: 0 auto;
    box-sizing: border-box;
}

.unit-green {
    margin: -30px -30px 0 -30px;
    padding: 20px;
    background: #1fbba6;
}

.form-control {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #e6e6e7;
    border-radius: 3px;
    transition: all 0.5s;
    font-size: 14px;
}

.form-control:focus {
    border-color: #1fbba6;
}

.button {
    border-radius: 3px;
    cursor: pointer;
}

.medium {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: block;
    border: 0;
    padding: 10px 0;
}

.green {
    color: #fff;
    background: #1fbba6;
}

footer {
    text-align: center;
    margin-top: 30px;
}