/* ---------------------------------------------
Fonts
-----------------------------------------------*/

@font-face {
    font-family: 'baron_neueregular';
    src: url('../fonts/baron_neue-webfont.eot');
    src: url('../fonts/baron_neue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/baron_neue-webfont.woff') format('woff'),
    url('../fonts/baron_neue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* ---------------------------------------------
Typography
-----------------------------------------------*/

body {
    background: #e6e6e7;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #353945;
}

p.desc {
    font-size: 12px;
    line-height: 1.7em;
}

ul.logs {
    font-size: 12px;
    font-family: 'Consolas', 'Courier New', monospace;
    line-height: 18px;
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

ul.logs li {
    margin-bottom: 6px;
    display: block;
}

/* ---------------------------------------------
Links
-----------------------------------------------*/

a.link {
    color: #1fbba6;
    border-bottom: 1px solid rgba(31, 187, 166, 0.3);
    text-decoration: none;
}

a.link:hover {
    color: #e84c3c;
    border-bottom: 1px solid rgba(232, 76, 60, 0.3);
}

.second-level-content a.link {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.leaf .urls a.link {
    color: #353945;
    border-bottom: 1px solid rgba(53, 57, 60, 0.3);
}

.leaf .urls a.link:hover {
    color: #e84c3c;
    border-bottom: 1px solid rgba(232, 76, 60, 0.3);
}

/* ---------------------------------------------
Layout
-----------------------------------------------*/

.global-nav {
    background: #1fbba6;
    color: #fff;
    padding: 20px 30px;
    width: 170px;
    position: fixed;
    height: 100%;
    z-index: 99;
}

.first-level-content {
    background: #fff;
    padding: 20px 30px;
    margin-left: 230px;
    width: 400px;
    z-index: 100;
    position: relative;
}

.second-level-content {
    position: fixed;
    top: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    background: #353945;
    z-index: 98;
    overflow-y: scroll;
}

.second-level-content .inside-content {
    padding: 20px 20px 20px 720px;
}

/* ---------------------------------------------
Page elements
-----------------------------------------------*/

.leaf .urls {
    background: #e6e6e7;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
}

.leaf .urls ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 22px;
}

.urls i.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent #e6e6e7 transparent;
    position: absolute;
    top: -8px;
    left: 20px;
}

.leaves ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.leaf {
    border-bottom: 1px solid #e6e6e7;
    padding: 0 0 20px 0;
}

.leaf h3 {
    font-size: 24px;
    font-family: 'baron_neueregular';
    font-weight: normal;
    line-height: 24px;
    margin: 10px 0 10px 0;
}

.leaf .icon-status {
    font-size: 12px;
    display: inline-block;
    line-height: 22px;
    width: 22px;
    text-align: center;
    color: #fff;
    height: 22px;
    vertical-align: middle;
}

.statuson {
    background: #1fbba6;
}

.statusoff {
    background: #e84c3c;
}

.statusbusy {
    background: gray;
}


/* ---------------------------------------------
Navigation
-----------------------------------------------*/

.global-nav nav.vertical {
    font-family: 'baron_neueregular';
    margin-top: 30px;
}

.global-nav nav.vertical ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    margin: 0 -30px;
}

.global-nav nav.vertical ul li {
    display: block;
}

.global-nav nav.vertical ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: block;
    height: 42px;
    line-height: 42px;
    position: relative;
}

.global-nav nav.vertical ul li a i.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 21px 12px 21px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.global-nav nav.vertical ul li a:hover i.triangle {
    display: block;
}

.global-nav nav.vertical ul li a:hover {
    background: #353945;
    color: #fff;
}

nav.horizontal {
    margin-bottom: 15px;
}

nav.horizontal ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.horizontal ul li {
    display: inline-block;
    margin-right: 15px;
}

.second-level-content nav.first-level-nav {
    font-size: 24px;
    font-family: 'baron_neueregular';
    text-transform: lowercase;
}

nav.pills {
    margin-top: 15px;
    text-transform: uppercase;
}

nav.pills ul li a {
    display: block;
    padding: 5px 10px;
}

.second-level-content nav.pills {
    margin-left: -10px;
}

.second-level-content nav.pills ul li a {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
}

.second-level-content nav.pills ul li a:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
}


/* ---------------------------------------------
Buttons
-----------------------------------------------*/

.btn {
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
}

.btn-middle {
    padding: 5px 15px;
    font-family: 'baron_neueregular';
    font-size: 18px;
}

.btn-small {
}

.btn-green {
    border: 1px solid #1fbba6;
    color: #1fbba6;
}

.btn-green:hover {
    background: #1fbba6;
    color: #fff;
}

.btn-100 {
    width: 100%;
    padding: 10px 0;
    display: block;
    text-align: center;
}

.btn-monospase {
    font-family: 'Consolas', 'Courier New', monospace;
    text-transform: uppercase;
    font-size: 12px;
}

/* ---------------------------------------------
Icons
-----------------------------------------------*/

.fatimes:before {
    content: "\f00d";
}

.facheck:before {
    content: "\f00c";
}

.log_enabled {
    background: #1fbba6;
    color: #353945 !important;
}

textarea:focus, input:focus{
    outline: 0;
}

.width-165 {
    width: 165px;
}

.input-search {
    border: 1px solid #1fbba6;
    color: #e6e6e7;
    padding: 5px 15px;
    font-family: 'baron_neueregular';
    font-size: 18px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
}

.input-settings {
    color: black;
}