/* ---------------------------------------------
Fonts
-----------------------------------------------*/

@font-face {
    font-family: 'baron_neueregular';
    src: url('../fonts/baron_neue-webfont.eot');
    src: url('../fonts/baron_neue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/baron_neue-webfont.woff') format('woff'),
    url('../fonts/baron_neue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* ---------------------------------------------
Typography
-----------------------------------------------*/

html, body {
    height: 100%;
}

body {
    background: #e6e6e7;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #353945;
}

p.desc {
    font-size: 12px;
    line-height: 1.7em;
}

.branch p.desc {
    line-height: 1.2em;
}

ul.logs {
    font-size: 12px;
    font-family: 'Consolas', 'Courier New', monospace;
    line-height: 18px;
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

ul.logs li {
    margin-bottom: 6px;
    display: block;
}

.second-level-content h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

.second-level-content h2 {
    font-size: 24px;
    font-family: 'baron_neueregular';
    text-transform: lowercase;
    margin: 0 0 20px 0;
}

.checkbox-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.checkbox-list input {
    vertical-align: middle;
    margin-bottom: 2px;
}

ul.tags {
    margin: 0;
    padding: 0;
}

ul.tags li {
    background: #808c8d;
    padding: 3px 8px;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    margin-right: 3px;
    border-radius: 3px;
}

/* ---------------------------------------------
Links
-----------------------------------------------*/

a.link {
    color: #1fbba6;
    border-bottom: 1px solid rgba(31, 187, 166, 0.3);
    text-decoration: none;
}

a.link:hover {
    color: #e84c3c;
    border-bottom: 1px solid rgba(232, 76, 60, 0.3);
}

.second-level-content a.link {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.leaf .urls a.link {
    color: #353945;
    border-bottom: 1px solid rgba(53, 57, 60, 0.3);
}

.leaf .urls a.link:hover {
    color: #e84c3c;
    border-bottom: 1px solid rgba(232, 76, 60, 0.3);
}

.second-level-content a.link-icon {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

a.link-icon:hover {
    opacity: 0.7;
}

.second-level-content a.link-icon span {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* ---------------------------------------------
Layout
-----------------------------------------------*/

.global-nav {
    background: #1fbba6;
    color: #fff;
    padding: 20px 30px;
    width: 170px;
    position: fixed;
    height: 100%;
    z-index: 99;
}

.first-level-content {
    background: #fff;
    margin-left: 230px;
    width: 460px;
    z-index: 100;
    position: relative;
    min-height: 100%;
}

.second-level-content {
    position: fixed;
    top: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    background: #353945;
    z-index: 98;
    overflow-y: scroll;
}

.second-level-content .inside-content {
    padding: 20px 20px 20px 720px;
}

.width-165 {
    width: 165px;
}

.noscroll {
    opacity: 0.6;
    overflow-y: hidden;
}

/* ---------------------------------------------
Page elements
-----------------------------------------------*/

.leaf .urls {
    background: #e6e6e7;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
}

.leaf .urls ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 22px;
}

.urls i.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent #e6e6e7 transparent;
    position: absolute;
    top: -8px;
    left: 20px;
}

.leaves {
    padding: 20px 30px;
}

.leaves ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.leaf {
    border-bottom: 1px solid #e6e6e7;
    padding: 0 0 20px 0;
}

.leaf h3 {
    font-size: 24px;
    font-family: 'baron_neueregular';
    font-weight: normal;
    line-height: 24px;
    margin: 10px 0 10px 0;
}

.leaf .icon-status {
    font-size: 12px;
    display: inline-block;
    line-height: 22px;
    width: 22px;
    text-align: center;
    color: #fff;
    height: 22px;
    vertical-align: middle;
}

.statuson {
    background: #1fbba6;
}

.statusoff {
    background: #e84c3c;
}

.statusbusy {
    background: #72757d;
}

.statuswarning {
    background: #f39c12;
}

.settings-group {
    padding: 20px 0;
    border-bottom: 1px solid #72757d;
}


/* ---------------------------------------------
Navigation
-----------------------------------------------*/

.global-nav nav.vertical {
    font-family: 'baron_neueregular';
    margin-top: 30px;
}

.global-nav nav.vertical ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    margin: 0 -30px;
}

.global-nav nav.vertical ul li {
    display: block;
}

.global-nav nav.vertical ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: block;
    height: 42px;
    line-height: 42px;
    position: relative;
}

.global-nav nav.vertical ul li a i.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 21px 12px 21px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.global-nav nav.vertical ul li a:hover i.triangle {
    display: block;
}

.global-nav nav.vertical ul li a:hover {
    background: #353945;
    color: #fff;
}

nav.horizontal {
    margin-bottom: 15px;
}

nav.horizontal ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.horizontal ul li {
    display: inline-block;
    margin-right: 15px;
}

.second-level-content nav.first-level-nav {
    font-size: 24px;
    font-family: 'baron_neueregular';
    text-transform: lowercase;
}

nav.pills {
    margin-top: 15px;
    text-transform: uppercase;
}

nav.pills ul li a {
    display: block;
    padding: 5px 10px;
}

.second-level-content nav.pills {
    margin-left: -10px;
}

.second-level-content nav.pills ul li a {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
}

.second-level-content nav.pills ul li a:hover {
    border: 1px solid rgba(31, 187, 166, 0.3);
}


/* ---------------------------------------------
Buttons & Forms
-----------------------------------------------*/

*::-webkit-input-placeholder {
    color: #e6e6e7;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #e6e6e7;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #e6e6e7;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #e6e6e7;
}

.btn {
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
}

.btn-middle {
    padding: 5px 15px;
    font-family: 'baron_neueregular';
    text-transform: lowercase;
    font-size: 18px;
}

.btn-small {
}

.btn-green {
    border: 1px solid #1fbba6;
    color: #1fbba6;
}

.btn-green:hover {
    background: #1fbba6;
    color: #fff;
}

.btn-100 {
    width: 100%;
    padding: 10px 0;
    display: block;
    text-align: center;
}

.btn-monospase {
    font-family: 'Consolas', 'Courier New', monospace;
    text-transform: uppercase;
    font-size: 12px;
}

.input-search {
    border: 1px solid #e6e6e7;
    padding: 5px 15px;
    font-family: 'baron_neueregular';
    font-size: 18px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    color: #1fbba6;
    text-transform: lowercase;
}

.second-level-content .input-settings {
    width: 200px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #86888f;
    background: inherit;
    border-radius: 3px;
}

select.select-settings {
    padding:3px;
    border-radius:3px;
    padding: 0 10px;
    width: 220px;
    height: 32px;
    border: 1px solid #86888f;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #353945;
    cursor: pointer;
}

input[type="text"] {
    border-radius: 3px;
}

textarea:focus, input:focus{
    outline: 0;
}

ul.input-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.input-list li {
    margin-bottom: 10px;
}

.btn-remove {
    color: #c0392b;
    text-decoration: none;
}

.save-settings {
    margin-top: 20px;
}

.add-leaf label {
    display: block;
    margin: 0 0 20px 0;
}

.add-leaf label input {
    margin-top: 5px;
    display: block;
}

.add-leaf label select {
    margin-top: 5px;
    display: block;
}

.add-leaf select {
    display: block;
}

/* ---------------------------------------------
Icons
-----------------------------------------------*/

.fatimes:before {
    content: "\f00d";
}

.facheck:before {
    content: "\f00c";
}

.log_enabled {
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.red {
    color: #c0392b;
}

.bgred {
    background: #c0392b !important;
}

.log_record {
    margin-bottom: 15px;
    padding: 5px;
}

.log_stdout {
    background: #34495e;
}

.log_before_start {
    background: #7f8c8d;
    color: black;
}

.log_request {
    background: #95a5a6;
    color: black;
}
