<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Leaves - Forest</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="/static_new/css/main.css">
    <link rel="stylesheet" href="/static_new/css/leaves.css">
    <link rel="stylesheet" href="/static_new/css/spinner.css">
    
    <script type="text/javascript" src="/static_new/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static_new/js/angular.min.js"></script>
    <script type="text/javascript" src="/static_new/js/main.js"></script>
    <script type="text/javascript" src="/static_new/js/leaves.js"></script>
</head>
<body ng-controller="Leaves">
    <header class="units-row-end unit-header unit-green">
        <div class="container">
            <div class="unit-centered unit-90">
                <section class="unit-20">
                    <a href="/dashboard"><img src="/static_new/images/logo.png" alt="Forest"></a>
                </section>
                <section class="unit-80">
                    <nav class="nav right"><ul>
                        <li><a href="#">Воздух</a></li>
                        <li><a href="#">Ветви</a></li>
                        <li><a href="#">Листья</a></li>
                        <li><a href="#">Корни</a></li>
                    </ul></nav>
                </section>
            </div>
        </div>
    </header>
    <main class="units-row">
            <div class="container unit-white">
                <section class="units-row-end units-split" ng-repeat="sub_leaf in leaves">
                    <article class="unit-50 border-bottom" ng-repeat="leaf in sub_leaf">
                        <div class="unit-80 unit-centered">
                            <header class="units-row-end unit-header"><h1><a href="" ng-click="openLogs(leaf)">{{ leaf.name }}</a></h1></header>
                            <section class="units-row-end">
                                <section class="unit-50" ng-class="{disabled: !leaf.active}">
                                    <p class="normal"><strong>на {{ leaf.branch }}</strong><br>{{ leaf.host }}<br>Port: {{ leaf.port }}</p>
                                    <p>
                                        <a href="http://{{ leaf.address }}" class="green">{{ leaf.address }}</a><br>
                                    </p>
                                </section>
                                <section class="unit-25" ng-class="{disabled: !leaf.active}">
                                    <p><b class="big green">{{ leaf.mem }} мб</b><br><strong>память</strong></p>
                                    <p><b class="big orange">{{ leaf.req.toFixed(3) }}</b><br><strong>запросов в минуту</strong></p>
                                </section>
                                <section class="unit-25 normal right">
                                    <div ng-switch="leaf.active">
                                    <a href="" class="orange" ng-switch-when="true" ng-click="disableLeaf(leaf)"><b>Выключить</b></a>
                                    <a href="" class="orange" ng-switch-when="false" ng-click="enableLeaf(leaf)"><b>Включить</b></a>
                                    </div>
                                    <br>
                                    <div>
                                    <a href="" ng-show="leaf.new_branch == null" ng-click="leaf.new_branch = leaf.branch" class="blue"><b>Перенести</b></a>
                                    <select ng-show="leaf.new_branch" ng-change="migrateLeaf(leaf)" ng-model="leaf.new_branch" ng-options="b for b in acceptableBranches(leaf)" ng-disabled="leaf.branch != leaf.new_branch"></select>
                                    </div><br>
                                    <a href="" ng-click="openSettings(leaf)" class="blue"><b>Настроить</b></a>
                                </section>
                            </section>
                        </div>
                    </article>
                </section>
            </div>
    </main>
    <footer class="footer units-row">
        <div class="container">
            <div class="unit-90 unit-centered">
                <p>ç 2013 Noble code</p>
            </div>
        </div>
    </footer>
    <div class="unit-100 pop-up" ng-class="{hidden: settings_element == null}">
        <div class="unit-25 unit-centered unit-white">
            <a href="" ng-click="closeSettings()" class="pop-up-close"><b class="fa fa-times fa-lg"></b></a>
            <div class="unit-90 unit-centered">
                <header class="units-row-end unit-header"><h1>Настройки {{ settings_element.name }}</h1></header>
                <section class="units-row">
                    <form action="#" class="forms">
                        <p><label><b>Адрес</b><input ng-model="leaf_address" type="text" class="width-80"></label></p>
                        <textarea id="settings" class="width-100" ng-model="leaf_settings"></textarea>
                        <br>
                        <a href="" ng-click="saveSettings()" class="button medium">Сохранить</a>
                    </form>
                </section>
            </div>
        </div>
    </div>

    <div class="unit-100 pop-up" ng-class="{hidden: logs_element == null}">
        <div class="unit-70 unit-centered unit-white" style="height: 60%;">
            <a href="" ng-click="closeLogs()" class="pop-up-close"><b class="fa fa-times fa-lg"></b></a>
            <div class="unit-90 unit-centered">
                <header class="units-row-end unit-header"><h1 ng-click="logs_loaded=true">Логи {{ logs_element.name }}</h1></header>
                <div ng-class="{hidden: logs_loaded}">
                    <ul class="spinner">
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                </div>
                <div ng-class="{hidden: !logs_loaded}">
                    <textarea id="logs" class="width-100">{{ logs.join("") }}</textarea>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
