<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Leaves - Forest</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="/static_new/css/main.css">
    <link rel="stylesheet" href="/static_new/css/leaves.css">
    
    <script type="text/javascript" src="/static_new/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static_new/js/angular.min.js"></script>
    <script type="text/javascript" src="/static_new/js/main.js"></script>
    <script type="text/javascript" src="/static_new/js/leaves.js"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body ng-controller="Leaves">
    <header class="units-row-end unit-header unit-green">
        <div class="container">
            <div class="unit-centered unit-90">
                <section class="unit-20">
                    <a href="/dashboard"><img src="/static_new/images/logo.png" alt="Forest"></a>
                </section>
                <section class="unit-80">
                    <nav class="nav right"><ul>
                        <li><a href="#">Воздух</a></li>
                        <li><a href="#">Ветви</a></li>
                        <li><a href="#">Листья</a></li>
                        <li><a href="#">Корни</a></li>
                    </ul></nav>
                </section>
            </div>
        </div>
    </header>
    <main class="units-row">
            <div class="container unit-white">
                <section class="units-row-end units-split" ng-repeat="sub_leaf in leaves">
                    <article class="unit-50 border-bottom" ng-repeat="leaf in sub_leaf">
                        <div class="unit-80 unit-centered">
                            <header class="units-row-end unit-header"><h1><a href="#">{{ leaf.name }}</a></h1></header>
                            <section class="units-row-end">
                                <section class="unit-50">
                                    <p class="normal"><strong>на {{ leaf.branch }}</strong><br>{{ leaf.host }}<br>Port: {{ leaf.port }}</p>
                                    <p>
                                        <a href="http://{{ leaf.address }}" class="green">{{ leaf.address }}</a><br>
                                    </p>
                                </section>
                                <section class="unit-25">
                                    <p><b class="big green">{{ leaf.mem }} мб</b><br><strong>память</strong></p>
                                    <p><b class="big orange">2781</b><br><strong>сила Евгения</strong></p>
                                </section>
                                <section class="unit-25 normal right">
                                    <a href="#" class="orange"><b>Выключить</b></a><br><br>
                                    <a href="#" class="blue"><b>Перенести</b></a><br><br>
                                    <a href="#" class="blue"><b>Настроить</b></a>
                                </section>
                            </section>
                        </div>
                    </article>
                </section>
            </div>
    </main>
    <footer class="footer units-row">
        <div class="container">
            <div class="unit-90 unit-centered">
                <p>ç 2013 Noble code</p>
            </div>
        </div>
    </footer>
    <div class="unit-100 pop-up" style="display: none;">
        <div class="unit-25 unit-centered unit-white">
            <a href="#" class="pop-up-close"><b class="fa fa-times fa-lg"></b></a>
            <div class="unit-90 unit-centered">
                <header class="units-row-end unit-header"><h1>Настройки</h1></header>
                <section class="units-row">
                    <form action="#" class="forms">
                        <p><label><b>Адрес</b><input type="text" class="width-80"></label></p>
                        <p><label>
                            <b>Стиль</b>
                            <select name="user-country" class="width-50">
                                <option>Expresso</option>
                            </select>
                        </label></p>
                        <p><label><b>Ограничение филиалов</b><input type="number" class="width-25"></label></p>
                        <a href="#" class="button medium">Сохранить</a>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
