<div>
    <div ng-repeat="(key, value) in settings.template.common">
				<h3>{{ settings.template.common[key].verbose }}</h3>
				<div ng-switch on='settings.template.common[key].type'>

						<div ng-switch-when="list">
								<ul class="input-list">
										<li ng-repeat='val in settings.common[key] track by $index'>
												<input class="input-settings" ng-model="settings.common[key][$index]">
												<a href class="btn-remove" ng-click='settings.common[key].splice($index, 1)'><i class="fa fa-times"></i></a>
										</li>
										<li>
												<a class="link-icon" href ng-click='settings.common[key].push("")'><i class="fa fa-plus"></i> <span>добавить ещё</span></a>
										</li>
								</ul>
						</div>

						<div ng-switch-when="checkbox_list">
								<ul class="checkbox-list" ng-repeat="checkbox_value in settings.template.common[key].values">
										<li>
												<label>
														<input type="checkbox" ng-checked="settings.common[key].indexOf(checkbox_value.value) > -1" ng-click="checkbox_list_helper(settings.common[key], checkbox_value.value)"/>
														{{ checkbox_value.verbose }}
												</label>
										</li>
								</ul>
						</div>

				</div>
		</div>
		<div class="settings-group" ng-repeat="(key, value) in settings.template.custom">
				<h3>{{ settings.template.custom[key]["verbose"] }}</h3>
				<div ng-switch on='settings.template.custom[key].type'>
						<div ng-switch-when="string">
								<input class="input-settings" type="text" ng-model='settings.custom[key]'/>
						</div>
						<div ng-switch-when="int">
								<input class="input-settings" type="number" ng-model='settings.custom[key]' onkeyup="this.value = this.value.replace(/[^0-9]/, '')"/>
						</div>
						<div ng-switch-when="select">
								<select class="select-settings" ng-model='settings.custom[key]' ng-options='choice.value as choice.text for choice in settings.template.custom[key].values'>
								</select>
						</div>
						<div ng-switch-when="list">
								<ul class="input-list">
										<li ng-repeat='val in settings.custom[key] track by $index'>
												<input class="input-settings" ng-model="settings.custom[key][$index]">
												<a href class="btn-remove" ng-click='settings.custom[key].splice($index, 1)'><i class="fa fa-times"></i></a>
										</li>
										<li>
												<a class="link-icon" href ng-click='settings.custom[key].push("")'><i class="fa fa-plus"></i> <span>добавить ещё</span></a>
										</li>
								</ul>
						</div>
				</div>
		</div>
		<a href="" class="btn btn-middle btn-green save-settings" ng-click="saveSettings()">
			<i class="{{buttonClass()}}"></i> {{buttonText()}}</a>
</div>
