<nav class="horizontal pills">
    <ul>
        <li><a href="" ng-class="{log_enabled: log_enabled('leaf.event')}" ng-click="toggle_log_type('leaf.event')">Запросы</a></li>
        <li><a href="" ng-class="{log_enabled: log_enabled('leaf.initdb')}" ng-click="toggle_log_type('leaf.initdb')">Инициализация</a></li>
        <li><a href="" ng-class="{log_enabled: log_enabled('leaf.migrate')}" ng-click="toggle_log_type('leaf.migrate')">Обновление</a></li>
    </ul>
</nav>
<a href="" class="btn btn-green btn-100 btn-monospase">Подгрузить ещё</a>
<ul class="logs">
    <li ng-repeat="log in logs"><span ng-show="log_types.indexOf(log.log_type) != -1">{{ log.content }}</span></li>
</ul>