<div class="inside-content">
    <h2>Добавить лист</h2>
    <form class="add-leaf">
    	<label>
    		Имя: 
    		<input ng-model="leaf_name" type="text" class="input-settings" placeholder="example_name"/>
    	</label>
    	<label>
    		Описание: 
    		<input ng-model="leaf_description" type="text" class="input-settings" placeholder="Example description"/>
    	</label>
    	<label>
    		Тип:
    		<select ng-model='leaf_type' class="select-settings" ng-change="loadSettingsTemplate()" ng-options='choice for choice in species'>
        </select>
    	</label>
    </form>
    <h2 ng-hide="leaf_type == undefined">Настройки</h2>
    <div class="settings-group" ng-repeat="(key, value) in template.common">
        <h3>{{ template.common[key].verbose }}</h3>
        <div ng-switch on='template.common[key].type'>
            <div ng-switch-when="list">
                <ul class="input-list">
                    <li ng-repeat='val in settings.common[key] track by $index'>
                        <input class="input-settings" ng-model="settings.common[key][$index]">
                        <a href class="btn-remove" ng-click='settings.common[key].splice($index, 1)'><i class="fa fa-times"></i></a>
                    </li>
                    <li>
                        <a class="link-icon" href ng-click='settings.common[key].push("")'><i class="fa fa-plus"></i> <span>добавить ещё</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="settings-group" ng-repeat="(key, value) in template.custom">
        <h3>{{ template.custom[key]["verbose"] }}</h3>
        <div ng-switch on='template.custom[key].type'>
            <div ng-switch-when="string">
                <input class="input-settings" type="text" ng-model='settings.custom[key]'/>
            </div>
            <div ng-switch-when="int">
                <input class="input-settings" type="number" ng-model='settings.custom[key]' onkeyup="this.value = this.value.replace(/[^0-9]/, '')"/>
            </div>
            <div ng-switch-when="select">
                <select class="select-settings" ng-model='settings.custom[key]' ng-options='choice.value as choice.text for choice in template.custom[key].values'>
                </select>
            </div>
            <div ng-switch-when="list">
                <ul class="input-list">
                    <li ng-repeat='val in settings.custom[key] track by $index'>
                        <input class="input-settings" ng-model="settings.custom[key][$index]">
                        <a href class="btn-remove" ng-click='settings.custom[key].splice($index, 1)'><i class="fa fa-times"></i></a>
                    </li>
                    <li>
                        <a class="link-icon" href ng-click='settings.custom[key].push("")'><i class="fa fa-plus"></i> <span>добавить ещё</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a ng-hide="leaf_type == undefined" href="" class="btn btn-middle btn-green save-settings" ng-click="saveLeaf()"><i class="fa fa-save"></i> Добавить лист</a>
    {{ settings }}
</div>