<div class="leaves" ng-controller="LeavesIndex">
    <section class="first-level-content">
        <div class="controls">
            <a href="/leaves/add" class="btn btn-middle btn-green width-165"><i class="fa fa-plus"></i> Добавить лист</a>
            <input type="text" class="input-search width-165" placeholder="Поиск" ng-model="search"/>
        </div>
        <ul>
            <li ng-repeat="leaf in leaves| filter:search" class="leaf">
                <div ng-controller="LeavesIndexItem" ng-init="init(leaf)">
                    <h3>
                        <a href="" ng-click="toggleLeaf()" class="icon-status"
                            ng-class="{'statusbusy':busy,'statuson':!busy&&resource.active,'statusoff':!busy&&!resource.active}">
                            <i class="fa" ng-class="{'fa-refresh fa-spin':busy,'fa-check':!busy&&resource.active,'fa-times':!busy&&!resource.active}"></i>
                        </a>
                        <span><a class="link" href="/leaves/{{resource._id}}/logs">{{resource.name}}</a></span>
                    </h3>
                    <p class="desc">
                        {{resource.desc}}
                    </p>
                    <div class="urls">
                        <i class="triangle"></i>
                        <ul>
                            <li ng-repeat="url in resource.address">
                                <a class="link" target="_blank" href="http://{{url}}">{{url}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section app-view-segment="1" class="second-level-content">
    </section>
</div>