<div class="leaves" ng-controller="SpeciesIndex">
    <section class="first-level-content">
        <ul>
            <li ng-repeat="specie in species" class="leaf">
                <div ng-controller="SpeciesIndexItem" ng-init="init(specie)">
                    <h3>
                        <span><a class="link" href="">{{resource.name}}</a></span>
                    </h3>
                    <p class="desc">
                        {{resource.url}}
                    </p>
                    <a href="">{{resource.modified}}</a>
                </div>
            </li>
        </ul>
    </section>
    <section app-view-segment="1" class="second-level-content">
    </section>
</div>