<div class="leaves" ng-controller="SpeciesIndex">
    <section class="first-level-content">
        <ul>
            <li ng-repeat="specie in species" class="leaf">
                <div ng-controller="SpeciesIndexItem" ng-init="init(specie)">
                    <h3>
                        <a href="" ng-click="update()" class="icon-status"
                            ng-class="{'statusbusy':busy,'statuson':!busy}">
                            <i class="fa" ng-class="{'fa-refresh fa-spin':busy,'fa-check':!busy}"></i>
                        </a>
                        <span class="link">{{resource.name}}</span>
                    </h3>
                    <p class="desc">
                        {{resource.url}}
                    </p>
                    <p>Обновлен {{ resource.modified | timeformat }}</p>
                </div>
            </li>
        </ul>
    </section>
    <section app-view-segment="1" class="second-level-content">
    </section>
</div>