.ws-connected-false {
  background-color: red;
  width: 30px;
  height: 30px;
}

.ws-connected-true {
  background-color: green;
  width: 30px;
  height: 30px;
}

.log {
	min-height: 50px;
	margin-top: 10px;
}

.type {
    border-width: 5px;
	border-style: solid;
}

.type-result {
    border-color: black;
}

.type-info {
    border-color: lightblue;
}

.status-warning {
	background-color: yellow;
}

.status-error {
	background-color: red;
}

.status-success {
    background-color: lightgreen;
}